[submodule "src/ros2-urdf-tutorial"]
	path = src/ros2-urdf-tutorial
	url = ../ros2-urdf-tutorial.git
[submodule "src/ros_tutorials"]
	path = src/ros_tutorials
	url = ../ros_tutorials.git
[submodule "src/turtlebot3_simulations"]
    path = src/turtlebot3_simulations
	url = ../turtlebot3_simulations.git
